@import '../manifest.scss';

.grid-container {
  @include basicReset;

  display: flex;
  flex-wrap: wrap;

  margin-left: auto;
  margin-right: auto;
  max-width: $grid-container-max-width;
  padding-left: $grid-column-gutter;
  padding-right: $grid-column-gutter;

  font-family: $font-base;
}
