@import '../manifest.scss';

.grid-container {
  @include basicReset;

  position: relative;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;
  max-width: $grid-container-max-width;
  padding-left: $grid-column-gutter;
  padding-right: $grid-column-gutter;

  font-family: $font-base;
}

.grid-col {
  margin-bottom: $grid-row;
}

.grow-row {
  display: flex;
}
